<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin_page</title>
  <link rel="stylesheet" type="text/css" href="/css/admin/member/admin.css">
  <link rel="stylesheet" type="text/css" href="/css/admin/common/top_bar.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <style>
    .side_bar6 {
      background-color: #99A3FE;
    }
  </style>
</head>
<body>
<header>
  <div class="header">
    <div class="logo_image"></div>
    <div class="login_name">관리자 : 닉네임</div>
    <div class="top_bar">
      <span class="now_span"><h3>회원관리</h3></span>
    </div>
    <div class="top_search_bar">
      <input type="text" placeholder="주문, 상품, 문의 회원 등" class="search_div"></input>
      <button class="search_icon"></button>
    </div>
    <div class="sidebarparents">
      <div class="side_bar1" onclick="go_dashboard()">대시보드</div>
      <div class="side_bar2" onclick="go_order()">주문관리</div>
      <div class="side_bar3" onclick="go_product()">상품관리</div>
      <div class="side_bar4" onclick="go_notice()">게시판관리</div>
      <div class="side_bar5" onclick="go_statistics()">통계</div>
      <div class="side_bar6">회원관리</div>
      <div class="side_bar0"><!--남는공간--></div>
    </div>
  </div>
  <script>
    function go_dashboard(){
      window.location.href = "/admin/dashboard";
    }
    function go_product(){
      window.location.href = "/admin/product";
    }
    function go_order(){
      window.location.href = "/admin/order"
    }
    function go_statistics(){
      window.location.href = "/admin/statistics"
    }
    function go_notice(){
      window.location.href = "/admin/notice"
    }
    $(document).ready(function(){
      $('.search_icon').click(function(){
        alert('총 검색 아이콘 클릭');
      });
    });
  </script>
</header>
<section>
  <div class="member_list">
    <ul class="tab_parents">
      <li class="tab3">회원 관리</li>
    </ul>
  </div>
  <div class="member_search_bar">
    <input type="text" placeholder="아이디, 비밀번호, 이메일 등" class="mem_search"></input>
    <button class="mem_search_icon"></button>
    <button class="modify_member">업데이트</button>
    <button class="delete_member">삭제</button>
    <button class="insert_member">회원등록</button>
  </div>

  <table class="table_parents">
    <thead>
    <tr>
      <th>아이디
        <button>↧</button>
      </th>
      <th>이름
        <button>↧</button>
      </th>
      <th>이메일
        <button>↧</button>
      </th>
      <th>전화번호
        <button>↧</button>
      </th>
      <th >계정타입
        <button>↧</button>
      </th>
      <th>회원가입날짜
        <button>↧</button>
      </th>
      <th>누적결제금액
        <button>↧</button>
      </th>
      <th>한달누적금액
        <button>↧</button>
      </th>
      <th>마지막로그인
        <button>↧</button>
      </th>
      <th>적립금
        <button>↧</button>
      </th>
      <th>소유쿠폰
        <button>↧</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <script>
    $(document).ready(function(){
      $('.mem_search_icon').click(function(){
        alert('멤버 검색 아이콘 클릭');
      });
    });
    $(document).ready(function(){
      $('.t_id1').click(function(){
        alert('아이디 조회방법 클릭');
      });
    });
    $(document).ready(function(){
      $('.t_pwd1').click(function(){
        alert('비밀번호 조회방법 클릭');
      });
    });
    $(document).ready(function(){
      $('.t_email1').click(function(){
        alert('이메일 조회방법 클릭');
      });
    });
    $(document).ready(function(){
      $('.t_phone1').click(function(){
        alert('전화번호 조회방법 클릭');
      });
    });
    $(document).ready(function(){
      $('.t_type1').click(function(){
        alert('계정타입 조회방법 클릭');
      });
    });
    $(document).ready(function(){
      $('.t_date1').click(function(){
        alert('회원가입날짜 조회방법 클릭');a
      });
    });
    $(document).ready(function(){
      $('.t_money1').click(function(){
        alert('누적결제금액조회방법 클릭');
      });
    });
    $(document).ready(function(){
      $('.modify_member').click(function(){
        alert('회원 업데이트 클릭');
      });
    });
    $(document).ready(function(){
      $('.delete_member').click(function(){
        alert('회원 삭제 클릭');
      });
    });
    $(document).ready(function(){
      $('.insert_member').click(function(){
        alert('회원 등록 클릭');
      });
    });
  </script>
</section>

</body>
</html>