<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E_delete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin/event/delete.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .tab3{
            background-color: #99A3FE;
            color:white;
        }
    </style>
</head>
<body>

</body>
</html>