<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E_insert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin/event/insert.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        .tab3{
            background-color: #99A3FE;
            color:white;
        }
    </style>
</head>
<body>
<header th:replace="/admin/common/adminHeader.html"></header>
<section>
    <div class="s_wrap">
        <h1>이벤트 등록</h1>
        <h2>필수입력사항</h2>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
        <div class="tbl_frm01">
            <table>
                <colgroup>
                    <col class="w180">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">이벤트명</th>
                    <td>
                        <input type="text" name="cp_subject" value="" required="" itemname="쿠폰명" class="required frm_input w300" style="background-repeat: no-repeat;">
                        <span class="fc_197 marl5">( ex: 따뜻한 연말 할인 )</span>
                        <!--required는 입력필드가 필드가 필수로 채워져야 하는지는 나타낼 떄 사용 현재는 빈값으로 설정되어 있음 -->
                    </td>
                </tr>
                <th scope="row">설명</th>
                <td>
                    <input type="text" name="cp_explan" value="" class="frm_input w300">
                    <span class="fc_197 marl5">( ex: 전품목 30% 할인 )</span>
                </td>
                </tr>
                <tr>
                    <th scope="row">이벤트 상태</th>
                    <td class="td_label">
                        <label><input type="radio" name="cp_use" value="1" checked=""> 상태1</label>
                        <label><input type="radio" name="cp_use" value="0"> 상태2</label>
                    </td>
                </tr>
                <!--        <tr id="ids_date">-->
                <!--            <th scope="row">이벤트 등록일</th>-->
                <!--            <td>-->
                <!--                <input type="date" name="cp_pub_sdate" value="" id="pub_sdate" class="frm_input w80 hasDatepicker"> <a href="javascript:chk_obj('cp_pub_sdate', '9999999999');" class="btn_small grey">무제한</a>-->
                <!--            </td>-->
                <!--        </tr>-->
                <tr>
                    <th scope="row">이벤트 유효 기간</th>
                    <td class="td_label">
                        <div id="ids_inv_type0" class="mart7">
                            <input type="date" name="cp_inv_sdate" value="" id="inv_sdate" class="frm_input w80 hasDatepicker"> <a href="javascript:chk_obj('cp_inv_sdate', '9999-99-99');" class="btn_small grey">시작일</a> ~
                            <input type="date" name="cp_inv_edate" value="" id="inv_edate" class="frm_input w80 hasDatepicker"> <a href="javascript:chk_obj('cp_inv_edate', '9999-99-99');" class="btn_small grey">종료일</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">혜택/할인율</th>
                    <td>
                        <p>
                            <input type="radio" name="cp_sale_type" value="0" checked="">
                            (상품 판매가 x 수량) 의
                            <input type="text" name="cp_sale_percent" value="0" numeric="" itemname="할인율" class="frm_input w80">
                            % 할인
                        </p>
                        <!--                , 최대-->
                        <!--                    <input type="text" name="cp_sale_amt_max" value="0" numeric="" itemname="최대 할인금액" class="frm_input w80"> 원-->
                        <!--                </p>-->
                        <!--                <p class="mart3">-->
                        <!--                    <input type="radio" name="cp_sale_type" value="1">-->
                        <!--                    <input type="text" name="cp_sale_amt" value="0" numeric="" itemname="할인금액" class="frm_input w80"> 원 할인-->
                        <!--                </p>-->
                    </td>
                </tr>
                </tbody>
                <div class="csstest">
                </div>
            </table>
        </div>
        <div class="btn_confirm"> <!-- 이벤트 등록 또는 목록 -->
            <input type="submit" value="등록" class="btn_large">
            <a href="/templates/admin/event/admin.html" class="btn_large bx-white">목록</a>
        </div>
    </div>
    <script> // ============ 이벤트 유효 기간 달력 뜨게 하는 스트립트 ===============
    $(document).ready(function () {
        var startDate, endDate; // 변수를 선언하고 초기화해야 합니다.

        // 오늘 날짜 구하기
        var today = new Date(); // 변수에 현재 날짜를 담아줌

        // datepicker 초기화 함수
        function initDatepicker($element) {
            $element.datepicker({ // 제이쿼리 객체를 받아 해당 객체에 datepicker를 적용 후 datepicker를 설정
                dateFormat: 'yy-mm-dd', // 설정에는 날짜 형식
                minDate: 0, // 최소 선택 가능한 날짜
                defaultDate: today, // 기본 날짜
                onSelect: function (selectedDate) { // 날짜를 선택했을 때의 동작
                    startDate = new Date(selectedDate);
                    updateEndDatepicker(startDate);
                }
            });
            $element.val($.datepicker.formatDate('yy-mm-dd', today));
            // datepicker에서 제공하는 formatDate 함수를 사용하여 날짜를 지정된 형식으로 포맷해줌
            // 날짜는 'yy-mm-dd'형식으로 포맷하고 today 변수에 저장된 현재 날짜를 이형식에 맞게 변환함
            // 그래서 $element에 현재 날짜를 yy-mm-dd형식으로 설정하는 역할을 함
        }

        // 각각의 datepicker 초기화
        initDatepicker($('#pub_sdate, #inv_sdate')); //initDatepicker 함수 호출 후 #pub_sdate, #inv_sdate 요소에 datepicker를 적용 시킴
        initDatepicker($('#pub_edate, #inv_edate')); //initDatepicker 함수 호출 후 #pub_sdate, #inv_sdate 요소에 datepicker를 적용 시킴
        // 위에 있던 설정들

        function updateEndDatepicker(startDate) {
            $('#pub_edate, #inv_edate').datepicker('option', 'minDate', startDate);
            // updateEndDatepicker 함수는 startDate를 받아 시작 날짜로 설정하고
            // 해당 시작 날짜 이후의 날짜만 선택가능 하도록 #pub_edate, #inv_edate의 datepicker 설정을 업데이트함
        }
    });
    </script>

</section>
</body>
</html>