<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration_modify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin/event/registration_modify.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .tab3{
            background-color: #99A3FE;
            color:white;
        }
    </style>
</head>
<body>
<header th:replace="/admin/common/adminHeader.html"></header>
<section style="position: relative">
    <div class="event_list">
        <ul class="tab_parents">
            <li class="tab3" onclick="go_admin()">목록/조회</li>
            <li class="tab1">등록/수정</li>
            <li class="tab2" onclick="go_delete()">삭제</li>
        </ul>
    </div>
    <div class="product_page">
        <div class="page_name">등록/수정<hr></div>
        <div class="tab1"><label class="tab11">판매상태 : </label>
            <input type="radio" class="p_radio" name="status" id="yes" value="Y"><label for="yes">즉시 판매</label>
            <span class="radio_space"></span>
            <input type="radio" class="p_radio" name="status" id="no" value="N"><label for="no">판매 보류</label>
            <hr>
        </div>
        <div class="tab2"><label class="tab22">판매등록날짜 :    </label>
            <input class="date_size" type="date" name="p_date"><hr>
        </div>
        <div class="tab3"><label class="tab33">상품명 : </label>
            <input class="p_name" type="text" name="name"><hr>
        </div>
        <div class="tab4"><label class="tab44">상품가격 : </label>
            <input class="p_price" type="number" name="price"><hr>
        </div>
        <div class="tab4"><label class="tab44"> 재고량 : </label>
            <input class="p_price" type="number" name="inventory"><hr>
        </div>
        <div class="tab5"><label for="topCategory" class="tab55">상위 카테고리 : </label>
            <select id="topCategory" class="c_ref" name="ref_category" onchange="updateSubCategories()">
                <option value="table">책상</option>
                <option value="chair">의자</option>
                <option value="light">조명</option>
                <option value="etc">기타</option>
            </select>
            <label for="subCategory">하위 카테고리 : </label>
            <select id="subCategory" class="c_ref" name="sub_category"></select>
            <hr></div>
        <div class="tab5"><label for="color">옵션(색상) : </label>
            <select id="colorCategory" class="c_ref" name="color">
                <option value="table">black</option>
                <option value="chair">blue</option>
                <option value="light">red</option>
                <option value="etc">기타</option>
            </select>
            <hr>
        </div>
        <div class="fileUpload"> 상품 이미지 :
            <input type="file" id="fileInput">
        </div>
        <button class="insert_button">상품 등록</button>
    </div>
    </div>
    <script>
        function go_admin(){
            window.location.href = "/admin/event/admin"
        }
        function go_delete(){
            window.location.href = "/admin/event/delete"
        }
        function updateSubCategories(){
            var topCategory = document.getElementById('topCategory');
            var selectedTopCategory = topCategory.options[topCategory.selectedIndex].value;
            var subCategory = document.getElementById('subCategory');
            subCategory.innerHTML ="";

            if(selectedTopCategory === "table"){
                addOption(subCategory, "desk", '책상');
                addOption(subCategory, "dining-table", '식탁');
            }else if (selectedTopCategory === "chair") {
                addOption(subCategory, "office-chair", "사무용 의자");
                addOption(subCategory, "armchair", "안락 의자");
            } else if (selectedTopCategory === "light") {
                addOption(subCategory, "ceiling-light", "천장 조명");
                addOption(subCategory, "table-lamp", "탁상 등");
            } else if (selectedTopCategory === "etc") {
                addOption(subCategory, "miscellaneous", "기타");
            }
        }

        // function addOption(selectElement, value, text) {
        //     var option = document.createElement("option");
        //     option.value = value;
        //     option.text = text;
        //     selectElement.add(option);
        // }
        // updateSubCategories();
        // document.getElementById('fileInput').addEventListener('change', function() {
        //     const file = this.files[0];
        //     if (file) {
        //         uploadFile(file);
        //     }
        // });
        //
        // function uploadFile(file) {
        //     const formData = new FormData();
        //     formData.append('file', file);
        //
        //     fetch('/upload', {
        //         method: 'POST',
        //         body: formData
        //     })
        //
        //         .then(response => {
        //             if (response.ok) {
        //                 console.log('파일이 성공적으로 업로드되었습니다.');
        //             } else {
        //                 console.error('파일 업로드 실패');
        //             }
        //         })
        //         .catch(error => {
        //             console.error('네트워크 오류:', error);
        //         });
        // }
    </script>
</section>
</body>
</html>