<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>인테리어 챌린지</title>
    <link rel="stylesheet" href="/css/board/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<header th:replace="common/header.html"></header>




<!-- ====================== 게시판 전체 태그 ====================== -->
<div class="board_wrap">
  <div class="board_title" style="margin-bottom: 30px;">
    <strong>인테리어 챌린지</strong>
  </div>
  <div class="board_view_wrap">
    <div class="board_view">
      <div class="title">
        <p th:text="${ icView.post_title }">
      </div>
      <input type="hidden" id="ic_post_code" name="post_code" th:text="${ icView.post_code }">
      <div class="info">
        <dl>
            <dt>글쓴이</dt>
            <dd id="ic_writer" th:text="${icView.account.id}"></dd>
        </dl>
        <dl>
          <dt>작성일</dt>
          <dd th:text="${icView.post_modified_date != null} ? ${icView.post_modified_date} : ${icView.post_created_date}"></dd>
        </dl>
        <dl>
          <dt>조회</dt>
          <dd th:text="${icView.post_views}"></dd>
        </dl>
      </div>

      <div class="img-box">
        <label>대표 사진</label>
        <img id="ic_thumbnail" th:src="@{|/thumbPath${icView.attachmentList[0].getThumbnail_path()}|}">
      </div>

      <div th:utext="${icView.post_content}" class="cont"></div>
    </div>

    <div class="bt_wrap">
      <button type="button" th:onclick="'location.href=\'/board/ic/list\''" class="writeBoard">목록</button>
      <th:block sec:authorize="isAuthenticated()"
                th:if="${ #authentication.getPrincipal().getUsername() == icView.account.id }">
        <button
                class="writeBoard"
                th:onclick="'location.href=\'/board/ic/modify?post_code='+ @{${ icView.post_code }} + '\''"
        >
          수정
        </button>
        <button
                class="writeBoard"
                th:onclick="'location.href=\'/board/ic/delete?post_code='+ @{${ icView.post_code }} + '\''"
        >
          삭제
        </button>
      </th:block>
    </div>

    <div class="bt_recommend_area">
      <button type="button" class="bt_recommend">추천👍🏻</button>
    </div>

    <div>
      <input type="hidden" id="like_check" th:value="${icView != null && icView.recommend_ic != null && icView.recommend_ic.r_check != null ? icView.recommend_ic.r_check : 0}">
      <img class="rounded-circle likeimg" id="likeimg" src="/images/board/before_recommend.png"
           width="60px" height="60px"> 추천 <input type="text" th:value="${icView.recommend_count}">
    </div>

  </div>
</div>

<script>
  // $(document).ready(function () {
  //   let likeval = document.getElementById('like_check').value;
  //   console.log(likeval);
  //   const id = document.getElementById('ic_writer').innerText;
  //   console.log(id);
  //   const likeimg = document.getElementById("likeimg");
  //
  //   if (likeval > 0) {
  //     likeimg.src = "/images/board/after_recommend.png";
  //   }
  //   else {
  //     likeimg.src = "/images/board/before_recommend.png";
  //   }
  //   // 좋아요 버튼을 클릭 시 실행되는 코드
  //   $(".likeimg").on("click", function () {
  //     $.ajax({
  //       url: '/board/ic/recommend',
  //       type: 'POST',
  //       data: { 'id': id, 'r_check': likeval },
  //       success: function (data) {
  //         if (data == 1) {
  //           $("#likeimg").attr("src", "/images/board/after_recommend.png");
  //           location.reload();
  //         } else {
  //           $("#likeimg").attr("src", "/images/board/before_recommend.png");
  //           location.reload();
  //         }
  //       }, error: function () {
  //         $("#likeimg").attr("src", "/images/board/after_recommend.png");
  //         console.log('오타 찾으세요')
  //       }
  //
  //     });
  //
  //   });
  // });

  $(document).ready(function () {
  $(".likeimg").on("click", function () {
    let likeval = document.getElementById('like_check').value;
    console.log(likeval);
    const id = document.getElementById('ic_writer').innerText;
    console.log(id);
    const likeimg = document.getElementById("likeimg");
    const post_code = document.getElementById('ic_post_code').value;
    console.log(post_code);

    $.ajax({
      url: '/board/ic/recommend',
      type: 'POST',
      data: { 'id': id, 'post_code': post_code, 'r_check': likeval },
      success: function (data) {
        if (data == 1) {
          $("#likeimg").attr("src", "/images/board/after_recommend.png");
          location.reload();
        } else {
          $("#likeimg").attr("src", "/images/board/before_recommend.png");
          location.reload();
        }
      }, error: function () {
        $("#likeimg").attr("src", "/images/board/after_recommend.png");
        console.log('오타 찾으세요')
      }
    });
  });
  });

</script>

</body>
</html>