<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_page</title>
    <link rel="stylesheet" href="/css/admin/dashboard/admin.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<header th:replace="/admin/common/adminHeader.html"></header>
<section>
    <div class="topSection">
        <div class="dash1" onclick="go_order()">
            <div class="cell1"><div class="dashIcon1"></div></div>
            <div class="cell2"><h3>주문처리</h3></div>
            <div class="cell3">
                <ul>
                    <li th:text="${mkk}">주문접수 4건</li>
                    <li th:text="${mkk}">상품준비 4건</li>
                    <li th:text="${mkk}">출고준비 5건</li>
                    <li th:text="${mkk}">출고완료 0건</li>
                    <li th:text="${mkk}">배송중  12건</li>
                </ul>
            </div>
            <div class="cell3">
                <ul>
                    <li th:text="${mkk}">결제 확인  5건</li>
                    <li th:text="${mkk}">당일배송 준비 10건</li>
                    <li th:text="${mkk}">당일배송 완료 12건</li>
                    <li th:text="${mkk}">당일배송 중 13건</li>
                </ul>
            </div>
        </div>
        <div class="dash2" onclick="go_product()">
            <div class="cell1"><div class="dashIcon2"></div></div>
            <div class="cell2"><h3>상품현황</h3></div>
            <div class="cell3">
                <ul>
                    <li th:text="${mkk}">판매 중            60건</li>
                    <li th:text="${mkk}">판매준비          12건</li>
                    <li th:text="${mkk}">판매완료         50   건</li>
                    <li th:text="${mkk}">판매중지           1   건</li>
                </ul>
            </div>
            <div class="cell3">
                <ul>
                    <li th:text="${mkk}">특가상품 22건</li>
                    <li th:text="${mkk}">추천상품 12건</li>
                    <li th:text="${mkk}">재고 20개↓        3  건</li>
                </ul>
            </div>
        </div>
        <div class="dash3">
            <div class="cell1"><div class="dashIcon3"></div></div>
            <div class="cell2"><h3>게시판관리</h3></div>
            <div class="cell3">
                <ul>
                    <li th:text="${mkk}">공지사항 작성</li>
                    <li th:text="${mkk}">FAQ 작성</li>
                    <li th:text="${mkk}">쇼핑몰 정책 수정</li>
                </ul>
            </div>
            <div class="cell3">
                <ul>
                    <li th:text="${mkk}">미답변 QnA 5건</li>
                    <li th:text="${mkk}">인테리어 챌린지 D-4</li>
                    <li th:text="${mkk}">하단 바 회사정보 수정</li>
                </ul>
            </div>
        </div>
        <div class="dash4" onclick="go_member()">
            <div class="cell1"><div class="dashIcon4 "></div></div>
            <div class="cell2"><h3>회원관리</h3></div>
            <div class="cell3">
                <ul>
                    <li th:text="${mkk}">현재 회원 수     40 명</li>
                    <li th:text="${mkk}">VVIP 회원         4   명</li>
                    <li th:text="${mkk}">VIP 회원           10  명</li>
                    <li th:text="${mkk}">FAMILY 회원    20 명</li>
                    <li th:text="${mkk}">FREIND 회원     6  명</li>
                </ul>
            </div>
            <div class="cell3">
                <ul>
                    <li th:text="${mkk}">신규가입 회원     4  명</li>
                    <li th:text="${mkk}">금주 가입 회원   12  명</li>
                    <li th:text="${mkk}">신규 VVIP 회원   1   명</li>
                    <li th:text="${mkk}">신규 VIP 회원     5   명 </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="centerContainer">
        <div class="centerItem" th:text="${'어쩌구저쩌구'}">홈페이지 방문 수 : 514 명</div>
        <div class="centerItem" th:text="${'어쩌구저쩌구'}">당일 결제 회수 : 32,344,992 건</div>
        <div class="centerItem" th:text="${'어쩌구저쩌구'}">당일 결제 금액  :  1,052,958,869,568 원</div>
        <div class="centerItem" th:text="${'어쩌구저쩌구'}">당일 회원 가입 인원 : 4  명</div>
        <div class="centerItem" th:text="${'어쩌구저쩌구'}">누적 회원  :  4053  명</div>
        <div class="centerItem" th:text="${'어쩌구저쩌구'}">휴면 예정 알림 :  1  명</div>
        <div class="centerItem" th:text="${'어쩌구저쩌구'}">누적 적립금 : 155,167,168 원</div>
        <div class="centerItem" th:text="${'어쩌구저쩌구'}">비정상적 접근 시도 :    2  회</div>
        <div class="centerItem" th:text="${'어쩌구저쩌구'}">자유 게시판 초기화 하기</div>
    </div>
</section>
</body>
</html>