<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Q&A</title>
  <link rel="stylesheet" href="../css/admin_page_notice6.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<header>
  <div class="header">
    <div class="logo_image"></div>
    <div class="login_name">관리자 : 닉네임</div>
    <div class="top_bar">
      <span class="now_span"><h3>게시판관리</h3></span>
    </div>
    <div class="top_search_bar">
      <div class="search_div">
        <span class="search_span">주문, 상품, 문의 회원 등</span>
        <div class="search_icon"></div>
      </div>
    </div>
    <div class="sidebarparents">
      <div class="side_bar1" onclick="go_dashboard()">대시보드</div>
      <div class="side_bar2" onclick="go_order()">주문관리</div>
      <div class="side_bar3" onclick="go_product()">상품관리</div>
      <div class="side_bar4" onclick="go_notice()">게시판관리</div>
      <div class="side_bar5" onclick="go_statistics()">통계</div>
      <div class="side_bar6" onclick="go_member()">회원관리</div>
      <div class="side_bar0"><!--남는공간--></div>
    </div>
  </div>
  <script>
    function go_dashboard(){
      window.location.href = "admin_page_dashboard.html"
    }
    function go_order(){
      window.location.href = "admin_page_order.html"
    }
    function go_notice(){
      window.location.href = "admin_page_notice.html"
    }
    function go_statistics(){
      window.location.href = "admin_page_statistics.html"
    }
    function go_member(){
      window.location.href = "admin_page_member.html"
    }
    $(document).ready(function(){
      $('.search_icon').click(function(){
        alert('총 검색 아이콘 클릭');
      });
    });
  </script>
</header>
<!-- ====================== 게시판 전체 태그 ====================== -->
<div class="board_wrap">
  <div class="board_title">
    <strong>Q&A</strong>
  </div>
  <div class="board_view_wrap">
    <div class="board_view">
      <div class="title">
        글 제목이 들어갑니다.
      </div>
      <div class="info">
        <dl>
          <dt>글쓴이</dt>
          <dd>김이름</dd>
        </dl>
        <dl>
          <dt>작성일</dt>
          <dd>2021.1.16</dd>
        </dl>
        <dl>
          <dt>조회</dt>
          <dd>33</dd>
        </dl>
      </div>
      <div class="cont">
        글 내용이 들어갑니다<br>
        글 내용이 들어갑니다<br>
        글 내용이 들어갑니다<br>
        글 내용이 들어갑니다<br>
        글 내용이 들어갑니다<br>
        글 내용이 들어갑니다<br>
        글 내용이 들어갑니다<br>
        글 내용이 들어갑니다
      </div>
    </div>

    <div class="comment">
      <textarea name="commentText" id="commentText" placeholder="답변을 작성해 주세요."></textarea>
    </div>

    <div class="bt_wrap view">
      <a href="admin_page_notice5.html" class="on">목록</a>
      <a href="qna_edit.html" class="commit">등록</a>
    </div>
  </div>
</div>

<!-- js 파일 적용 안됨!!!!! 일단 여기 두고 나중에 다시  -->
<script>
  const $commentText = document.getElementById('commentText');
  const $span = document.querySelector('.comment span');

  $commentText.addEventListener('input', (e) => {
    let len = e.target.value.trim().length;
    $span.textContent = len + "/150";
  });
</script>

<script src="/resources/js/community.js"></script>
</body>
</html>